BODY {
	font-family: Helvetica, Verdana;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

TABLE { border-collapse: collapse; }
TD { padding: 2px 5px; }
TH { border-bottom: 2px solid #aaa; }
TD.action {
	white-space: nowrap;
	font-size: 0.9em;
}
TR.odd TD {
	background: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1xp solid #ddd;
}

LABEL {	font-weight: bold; display: block; }
.required LABEL {	color: #b22222; }

SPAN.count { font-style: oblique; color: #aaa; }

DIV#menu h3 {
	font-family: Georgia, serif;
	color: #aaa;
	display: inline;
	font-size: 1em;
}
DIV#menu DIV { padding: 0.4em 1em; }

H1.title {
	color: #0078D3;
	text-align: center;
	font-size: 2.5em;
	font-family: Georgia, serif;
}

DIV.flash { color: green; }
.error-message { color: #b22222; font-weight: bold; background-color: #FFDDE4; padding: 2px 5px; }

DIV#add {
	margin: 1em 1em 2em 1em;
	padding: 1em 0em;
}
SPAN.add {
	border: 1px solid #ddd;
	padding: 1em;
	background-color: #F5F5F5;
	cursor: pointer;
}

IMG.favourite { float: right; }

DIV.pager { text-align: center; }

INPUT#tags { width: 250px; }
div.autocomplete {
	position: absolute;
	width: 250px;
	background-color: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div.autocomplete ul li.selected {	background-color: #ffb; }
div.autocomplete ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	cursor: pointer;
}

DIV#footer { text-align: center; font-size: .7em; font-style: oblique; width: 50%; margin: 0 auto; border-top: 1px dotted #bbb; color: #bbb; padding-top: 1em; }
DIV#footer EM { font-style: normal; color: #aaa; }

SPAN.ajax_link { cursor: pointer; color: #000; text-decoration: underline; }

/* Import from seth.css from original bad poetry */
a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover, a:active, SPAN.ajax_link:hover {
	text-decoration: underline;
	background: #fff;
}

#header {
	text-align: center;
	background: #000;
}

#content { margin: 1em; }

#menu {	margin: 1em; }
.poem {
	border: 1px solid #ddd;
	margin: 1em 1em 2em 1em;
	padding: 1em;
}

.poem h3 {
	font-family: Georgia, serif;
	color: #999;
	font-size: 0.8em;
}

.poem .content { line-height: 1.4em; }
.poem .content, .poem h3 {	padding-left: 260px; }
.poem .author { font-size: 0.8em; font-style: oblique; padding-left: 280px; margin-top: -7px; }

.meta {
	color: #444;
	float: left;
	background-color: #FAFAFA;
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid #EAEAEA;
	font-size: 0.8em;
	font-style: oblique;
	padding: 10px;
	width: 230px;
	margin-top: -30px;
}

.clearall { clear: both; }

.pager {
	font-family: Helvetica, Verdana, Sans-Serif;
	font-size: 0.7em;
	padding: 3px;
	margin: 0.4em 1em;
}
.pager span.pager_curpage, .pager a {
	padding: 2px 5px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #ddd;
	background-color: #F5F5F5;
	color: #333;
}
.pager a:hover, .pager a:active {
	border: 1px solid #999;
	color: #000;
}
.pager span.pager_curpage {
	font-weight: bold;
	color: #0078D3;
}

#menu #user_menu {	background-color: #fffff9; text-align: right; }
#menu #tag_selector {	background-color: #ffffe9; }
#menu #author_selector {	background-color: #ffffd9; }
#menu #date_selector { background-color: #ffffc9; }
#menu #theme_selector {	background-color: #ffffb9; }
.poem {	background: #F5F5F5 none repeat scroll 0%; }
.poem .content { padding-left: 275px; }
.poem h3 {
	color: #0078D3;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 5px;
}
.meta .rating { float: right; }
.meta {
}
.meta A {	text-decoration: underline; }
