BODY {
	font-family: Helvetica, Verdana;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

TABLE { border-collapse: collapse; }
TD { padding: 2px 5px; }
TH { border-bottom: 2px solid #aaa; }
TD.action {
	white-space: nowrap;
	font-size: 0.9em;
}
TR.odd TD {
	background: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1xp solid #ddd;
}

LABEL {	font-weight: bold; display: block; }
.required LABEL {	color: #b22222; }

SPAN.count { font-style: oblique; color: #aaa; }

#menu h3 {
	font-family: Georgia, serif;
	color: #aaa;
	display: inline;
	font-size: 1em;
}

DIV.flash { color: green; }
.error-message { color: #b22222; font-weight: bold; background-color: #FFDDE4; padding: 2px 5px; }

/* Import from seth.css from original bad poetry */
body {
	font-family: Helvetica, Verdana, Sans-Serif;
	margin: 0;
	padding: 0;
	background: #eee;
	color: #333;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover, a:active {
	text-decoration: underline;
	background: #fff;
}

#header {
	text-align: center;
	background: #000;
}

#add_poem_link, #account_links { padding: 0 1em; }

#content { margin: 1em; }

#menu {	margin: 1em; }

#menu #order_selector {
	padding: 0.4em 1em;
	background: #ccc;
}

#menu #tag_selector {
	padding: 0.4em 1em;
	background: #ddd;
}

#menu #date_selector {
	padding: 0.4em 1em;
	background: #bbb;
}

#menu #theme_selector {
	padding: 0.4em 1em;
	background: #aaa;
}

.poem {
	border: 1px solid #ddd;
	margin: 1em 1em 2em 1em;
	padding: 1em;
}

.poem h3 {
	font-family: Georgia, serif;
	color: #999;
	font-size: 0.8em;
}

.poem .content { line-height: 1.4em; }
.poem .content, .poem h3 {	padding-left: 260px; }
.poem .author { font-size: 0.7em; font-style: oblique; padding-left: 280px; margin-top: -7px; }

.meta {
	color: #444;
	float: left;
	width: 250px;
}

.clearall { clear: both; }

.pagination {
	font-family: Helvetica, Verdana, Sans-Serif;
	font-size: 0.7em;
	padding: 3px;
	margin: 0.4em 1em;
}
.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #ddd;
	text-decoration: none;
	color: #999;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid #999;
	color: #000;
}
.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #999;
	font-weight: bold;
	background-color: #999;
	color: #FFF;
}
.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #eee;
	color: #ddd;
}

body { background-color: #fafafa; }
#menu #tag_selector {	background-color: #ffffe9; }
#menu #order_selector {	background-color: #ffffd9; }
#menu #date_selector { background-color: #ffffc9; }
#menu #theme_selector {	background-color: #ffffb9; }
.poem {	background: #F5F5F5 none repeat scroll 0%; }
.poem .content { padding-left: 275px; }
.poem h3 {
	color: #0078D3;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 5px;
}
.meta .rating { float: right; }
.meta {
	background-color: #FAFAFA;
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid #EAEAEA;
	font-size: 0.8em;
	font-style: oblique;
	padding: 10px;
	width: 230px;
	margin-top: -30px;
}
.meta A {	text-decoration: underline; }
.pagination a { border: 1px solid #0078D3; }
.pagination span.current { border: 1px solid #0078D3; }
